*{
    padding: 0%;
    margin: 0%;
}
.cant{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color:bisque;
}
form{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: fit-content;
    padding: 25px;
    background-color: aliceblue;
    border-radius: 5px;
}
form td,input{
    padding: 7px;
}